<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="not-found content">
        <h3>404</h3>
        <h2>UH OH! You're lost.</h2>
        <p>The page you are looking for does not exist. How you got here is a mystery.</p>
        <p>but you can click the button below to go back the the homepage.</p>
        <a class="home" href="/">Home</a>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>