<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi adipisci magni dignissimos debitis totam doloribus hic corrupti obcaecati enim commodi eligendi quas, consectetur cumque. Numquam quos magnam totam ea tempore.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi adipisci magni dignissimos debitis totam doloribus hic corrupti obcaecati enim commodi eligendi quas, consectetur cumque. Numquam quos magnam totam ea tempore.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi adipisci magni dignissimos debitis totam doloribus hic corrupti obcaecati enim commodi eligendi quas, consectetur cumque. Numquam quos magnam totam ea tempore.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>